.card {
    background-color: #ffffff;
    margin: 0 5 10 5;
}

.card-wide {
    margin-left: -5;
    margin-right: -5;
}

.card-event,
.card-program {
    margin-top: 3;
    margin-bottom: 3;
}
.flag-image {
    border-radius: 20;
}
.card-event > * {
    padding: 10 15;
}

.card-event .card-image {
    margin: 0 0 10 0;
}

.card-header {
    margin: -5 -5 10 -5;
}

.card-actionbar {
    margin: -5 -5 0 -5;
}
.card-subhead {
    font-size: 14;
}

.card-header-icon .fa {
    font-size: 16;
    margin-right: 5;
}

.card-header-icon Label {
    color: #5d5d5d;
    font-size: 17;
}

.card-langs image {
    margin-right: 10;
}

.bold {
    font-family: 'SourceSansPro-Bold';
}
.semibold {
    font-family: 'SourceSansPro-Semibold';
}

.content-page {
    padding: 20 10;
    font-size: 14;
}
.content-page .bold {
    font-size: 15;
}
.content-page > StackLayout {
    margin: 0 0 15 0;
}
.card-program .time-from {
    font-family: 'SourceSansPro-Semibold';
    font-size: 18;
    padding-top: 3;
}

.card-program .time-to {
    font-size: 13;
    color: #5d5d5d;
}

.card-program .text {
    font-size: 18;
    color: #5d5d5d;
    padding-right: 10;
}
.card-program .text-descr {
    font-size: 16;
}

.card-text > * {
    padding: 20 12 25 12;
}

.card-text .card-body {
    orientation: vertical;
}

.card-text .card-title {
    font-size: 14;
    font-family: 'SourceSansPro-Semibold';
    margin: 0 0 5 0;
    text-transform: uppercase;
}
.card-body-large {
    font-size: 18;
    color: #4a4a4a;
}

.card-body Label {
    font-size: 16;
    color: #4a4a4a;
    margin: 0 0 10 0;
}

.card-body Label.last {
    margin: 0;
}

.card-trader-label {
    font-size: 13;
    color: #fff;
    background-color: #f29100;
    padding: 0 5 0 5;
    border-radius: 3;
    text-transform: uppercase;
}
.card-trader-label.feature,
.card-trader-label.VIP {
    background-color: #51bab4;
}
.card-trader-label.hot,
.card-trader-label.HOT {
    background-color: #d60b51;
}

.card-body-address Label {
    font-size: 17;
    margin: 0;
    height: 20;
}

.card-footer {
    background-color: #f8f8f8;
    padding-left: 20;
}
.card-header .card-footer {
    padding-left: 22;
}

.card-footer .card-attr {
    font-size: 14;
}
.card-footer .card-attr .fa {
    font-size: 16;
}
.card-separate-head {
    color: #5d5d5d;
    font-size: 14;
    font-family: 'SourceSansPro-Semibold';
    padding-left: 7;
    text-transform: uppercase;
}
.empty-list Label {
    color: #5d5d5d;
    font-size: 22;
    font-family: 'SourceSansPro-Light';
    text-align: center;
    padding: 0 20;
}

.card-attr {
    color: #0d5775;
    font-size: 13;
    font-family: 'karmina';
}

.card-attr .fa {
    font-size: 14;
    margin-right: 5;
}

.card-hr {
    margin: 7 0 7 0;
    height: 1;
    background-color: #eeefee;
}
.card-date > * {
    padding: 0 20 0 39;
}
.card-date Label {
    color: #5d5d5d;
    font-size: 17;
}
.card-date .fa {
    font-size: 16;
    margin-right: 10;
}

.person-label {
    color: #ffffff;
    font-size: 9;
    padding: 0 5 0 5;
    background-color: #7c8d93;
    border-radius: 3;
}
.person-label.inverse {
    background-color: #0d5775;
}
.head-label {
    font-size: 20;
}
.head-label .more-link {
    color: red;
}

.theme-color,
.card-text .card-title,
.card-header-icon .fa,
.card-attr .fa,
.card-date .fa,
.card-program .time-from,
.person-name {
    color: #d0021b;
}
.header-actionbar,
.card-actionbar {
    background-color: #d0021b;
}
.header-actionbar {
    color: #ffffff;
    font-size: 20;
}
.header-actionbar Button {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
}
.person-body {
    font-size: 16;
}
.person-name {
    font-size: 18;
    font-family: 'SourceSansPro-Semibold';
}
Repeater GridLayout {
    background-color: #fff;
    margin: 0 0 1 0;
}